body{
    background-color: rgb(29, 27, 9);
    align-self: center;
}
h1{
    font-size: 5rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: 300;
    color: rgb(253, 253, 0);
    display: flex;
    position: relative;
    left: 500px;
}
.box{
    display: inline-flex;
    flex-direction: row;
    position: relative;
    justify-content: center;
    height: 150px;
    width: 200px;
    left: 500px;
    gap: 10px;
    
}
p{
    font-size: 1rem;
    color: rgb(219, 219, 31);
    position: relative;
    bottom: 50px;
    left: 140px;
    
    font-weight: 400;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
